<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1535016120720-40c646be5580?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWV8ZW58MHx8MHx8fDA%3D);">
</div>
<div class="container mt-10">
<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat" %>
<%= link_to "Back to my lists", lists_path, class: "btn btn-flat" %>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="movie-card">
    <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "movie-img" %>
    <div class="movie-details">
      <p><strong><%= bookmark.movie.title %></strong></p>
      <p><%= bookmark.movie.overview %></p>
      <p><strong><em>&quot;<%= "#{bookmark.comment}"%>&quot;</em></strong></p>
    </div>
    <p><%= link_to "Delete movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-flat" %></p>
  </div>
  <% end %>
</div>
</div>
